[flake8]
max-line-length = 120
ignore = 
    E501,
    W503,
    W291,
    W293,
    E302,
    E128,
    W292,
    E265,
    E402,
    F401
exclude =
    .git,
    __pycache__,
    *.pyc,
    venv,
    .env